.container{
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "Header Header Header Header"
    "left-side main main right-side"
    ". main main ."
    "footer footer footer footer";
}
.box{
    margin: 5px;
    background-color: skyblue;
    border:2px solid #eee;
}
p{
    text-align: center;
}
#box1{
    grid-area: Header;
}
#box2{
    grid-area:left-side;
}
#box3{
    grid-area:right-side;
}
#box4{
    grid-area: main;
}
#box5{
    grid-area: footer;
}

